<!doctype html>
<html lang="en">
  <head>

    <!-- Import fonts from Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="../styles/index_stylesheet.css">

  <title>Hannah Galbraith</title>
  </head>
  <body>
    <!-- navbar
  =========================================================================== -->
    <nav>
      <div class="logo">
        <a href="/">HRG</a>  
      </div>
      <ul class="nav-links">
        <li><a href="#">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <!-- landing page content
  =========================================================================== -->
    <div class="container">
      <div class="background-img"></div>
      <p>Software Engineer // AI & Machine Learning</p>
      <h1 class="name">Hannah Galbraith</h1>
    </div>

    <!-- <div class="container">
        <div class="photo">
            <img src="../images/amy-shamblen-651683-unsplash.jpg">
        </div>
        <div class="text">
          <p id="name">Hannah Galbraith</p>
          <p id="about-me-title">About Me</p>
          <p id="about-me-text">I'm a graduate student getting an M.S. in Computer Science at Portland State University. Currently,
             I'm also a software development intern at Jama Software. I have an interest in AI and Machine Learning, particularly deep 
             learning and generative models. My hobbies include reading, writing, traveling, cooking, and exploring Portland. 
             Check out some of my work <a href="/projects">here.</a>
          </p>
      </div>
  </div> -->
  </body>

  <script>
    /* Used to slide the menu items in the navigation burger. Obtained from
    the following tutorial: https://www.youtube.com/watch?v=gXkqy0b4M5g */
    const navSlide = () => {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');
        const navLinks = document.querySelectorAll('.nav-links li');

        burger.addEventListener('click', () => {
            /* Toggle nav */
            nav.classList.toggle('nav-active');

            /* Animate links */
            navLinks.forEach((link, index) => {
              if (link.style.animation) {
                link.style.animation = '';
              } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.2}s`;
              }
            });

            /* Burger animation */
            burger.classList.toggle('toggle');
        });
      }
    navSlide();
  </script>
</html>