<!doctype html>
<html lang="en">
  <head>

    <!-- Import fonts from Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">  

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="../styles/index_stylesheet.css">

  <title>Hannah Galbraith</title>
  </head>
  <body>
    <header>
        <div class="container">
          <a href="/" class="logo">
              <h1 class="logo">hANNAh GAlBRAith</h1>
          </a>

          <nav>
            <ul>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Resume</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <!-- <div class="container">
        <div class="photo">
            <img src="../images/amy-shamblen-651683-unsplash.jpg">
        </div>
        <div class="text">
          <p id="name">Hannah Galbraith</p>
          <p id="about-me-title">About Me</p>
          <p id="about-me-text">I'm a graduate student getting an M.S. in Computer Science at Portland State University. Currently,
             I'm also a software development intern at Jama Software. I have an interest in AI and Machine Learning, particularly deep 
             learning and generative models. My hobbies include reading, writing, traveling, cooking, and exploring Portland. 
             Check out some of my work <a href="/projects">here.</a>
          </p>
      </div>
  </div> -->
  </body>
</html>