<!doctype html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import the Cambo and Lobster fonts from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="../styles/repos_stylesheet.css">

    <title>My Projects</title>
  </head>
  <body>
        <div id="wrapper">
                <p id="my-work">Things I've Done</p>

                <div class="container">
                    <div class="text-blurred-bg">
                        <img src="../images/amy-shamblen-698070-unsplash.jpg">
                        <h1>Spam-Musubayes</h1>
                        <a href="https://github.com/hrosegalb/spam-musubayes">View repo on GitHub</a>
                    </div>

                    <div class="text-blurred-bg">
                        <img src="../images/amy-shamblen-1071580-unsplash.jpg">
                        <h1>Chat Application</h1>
                        <a href="https://github.com/hrosegalb/Msg-App">View repo on GitHub</a>
                    </div>

                    <div class="text-blurred-bg">
                        <img src="../images/amy-shamblen-651679-unsplash.jpg">
                        <h1>FMNIST Neural Network</h1>
                        <a href="https://github.com/hrosegalb/Deep_Learning_NN">View repo on GitHub</a>
                    </div>
                </div>
        </div>
  </body>
</html>