/* Navbar created using tutorial by Kevin Powell: https://www.youtube.com/watch?v=FEmysQARWFU */

body {
  margin: 0;
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #b8b8b8;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-family: 'Major Mono Display', monospace;
  color: white;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #1e1e1e;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #1e1e1e;

  position: absolute;
  width: 0%;
  top: 0;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}