@font-face {
  font-family: 'metriaregular';
  src: url('../styles/fonts/metria.woff2') format('woff2'),
       url('../styles/fonts/metria.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.container {
display: grid;
width: 100vw;
max-width: 100%;
max-height: 100%;
height: 100vh;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: 
"image content"
"image content"
"image content"
}

.photo {
  grid-area: image;
}
.photo > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.text {
  grid-area: content;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#name {
  grid-area: content;
  justify-content: center;
  align-items: center;
  font-family: 'metriaregular';
  font-size: 8rem;
}

#about-me-title {
  grid-area: content;
  justify-content: center;
  align-items: center;
  font-family: 'metriaregular';
  font-size: 3rem;
  text-decoration: underline;
  margin-left: 7px;
}

a {
  font-family: 'metriaregular';
  font-size: 1.15rem;
  color: black;
}

#about-me-text {
  margin-left: 7px;
  font-size: 1.15rem;
  font-family: 'Cambo', serif;            
}
